<nav class="navbar">
  <div class="navbar-left">
    <span class="navbar-title">NPC Angular</span>
  </div>

  <div class="navbar-right" [class.open]="menuOpen">
    @if (user) {
    <div class="user-info">
      @if (user.photoURL) {
      <img
        [src]="user.photoURL"
        alt="Foto do usuário"
        class="user-photo-online"
      />
      }
      <span class="user-name">{{ user.displayName }}</span>
      <button class="logout-btn" (click)="logout()">Sair</button>
    </div>
    } @else {
    <span class="not-authenticated">Você não está autenticado.</span>
    }
  </div>

  <button class="menu-toggle" (click)="toggleMenu()">&#9776;</button>
</nav>

<section class="main">
  <div class="left">
    <div class="top">
      <input
        type="text"
        placeholder="Digite um termo (ex: guerreiro, ladina...)"
        [(ngModel)]="searchTerm"
      />
      <button (click)="searchNPC()">Buscar</button>
    </div>

    <div class="bottom">
      <div class="contents">
        <div class="fields-group">
          <div class="field">
            <label>Nome</label>
            <input
              type="text"
              placeholder="Nome do NPC"
              [(ngModel)]="newNPC.name"
            />
          </div>
          <div class="field">
            <label>Mundo de Origem</label>
            <input
              type="text"
              placeholder="Mundo ou cenário"
              [(ngModel)]="newNPC.origin_world"
            />
          </div>
        </div>
        <div class="fields-group">
          <div class="field">
            <label>Arquétipo</label>
            <input
              type="text"
              placeholder="Ex: guerreiro"
              [(ngModel)]="newNPC.archetype"
            />
          </div>
          <div class="field">
            <label>Alinhamento</label>
            <input
              type="text"
              placeholder="Ex: leal e bom"
              [(ngModel)]="newNPC.alignment"
            />
          </div>
        </div>
        <div class="fields-group">
          <div class="field">
            <label>Traços de Personalidade</label>
            <input
              type="text"
              placeholder="Traços"
              [(ngModel)]="newNPC.personality_traits"
            />
          </div>
          <div class="field">
            <label>Emoção</label>
            <input
              type="text"
              placeholder="Ex: alegria"
              [(ngModel)]="newNPC.emotion"
            />
          </div>
        </div>
        <div class="fields-group">
          <div class="field">
            <label>Humor</label>
            <input
              type="text"
              placeholder="Ex: calmo"
              [(ngModel)]="newNPC.mood"
            />
          </div>
          <div class="field">
            <label>Estilo de Voz</label>
            <input
              type="text"
              placeholder="Tom de fala"
              [(ngModel)]="newNPC.voice_style"
            />
          </div>
        </div>
        <div class="fields-group">
          <div class="field">
            <label>Habilidades</label>
            <input
              type="text"
              placeholder="Ex: furtividade"
              [(ngModel)]="newNPC.skills"
            />
          </div>
          <div class="field">
            <label>Conhecido por</label>
            <input
              type="text"
              placeholder="Fama ou feitos"
              [(ngModel)]="newNPC.known_for"
            />
          </div>
        </div>
        <div class="field">
          <label>História de Fundo</label>
          <textarea
            rows="4"
            placeholder="História do NPC"
            [(ngModel)]="newNPC.backstory"
          ></textarea>
        </div>
        <div class="field">
          <label>Frase de Efeito</label>
          <input
            type="text"
            placeholder="Frase marcante"
            [(ngModel)]="newNPC.catchphrase"
          />
        </div>
      </div>

      <button class="register-btn" (click)="registerNPC()">
        Cadastrar NPC
      </button>
    </div>
  </div>

  <div class="right">
    <div class="step-left">
      <h3>Cadastrar Novo NPC</h3>
      <div class="divider"></div>
      <div class="npc-list">
        <select
          [(ngModel)]="selectedNPC"
          (ngModelChange)="selectNPC($event?.name)"
          [disabled]="npcs.length === 0"
        >
          <option [ngValue]="null" disabled>Selecione um NPC</option>
          <option *ngFor="let npc of npcs" [ngValue]="npc">
            {{ npc.name }}
          </option>
        </select>

        <div *ngIf="selectedNPC" class="npc-avatar">
          <img [src]="selectedNPC.avatar_url" alt="{{selectedNPC.name}}" />
        </div>
        <div *ngIf="selectedNPC" class="npc-info">
          <div class="npc-details">
            <div class="couple">
              <strong>Mundo:</strong> <span>{{selectedNPC.origin_world}}</span>
            </div>
            <div class="couple">
              <strong>Arquétipo:</strong> <span>{{selectedNPC.archetype}}</span>
            </div>
            <div class="couple">
              <strong>Alinhamento:</strong>
              <span>{{selectedNPC.alignment}}</span>
            </div>
            <div class="couple">
              <strong>Traços:</strong>
              <span>{{selectedNPC.personality_traits}}</span>
            </div>
            <div class="couple">
              <strong>Voz:</strong> <span>{{selectedNPC.voice_style}}</span>
            </div>
            <div class="couple">
              <strong>Humor:</strong> <span>{{selectedNPC.mood}}</span>
            </div>
            <div class="couple">
              <strong>Emoção:</strong> <span>{{selectedNPC.emotion}}</span>
            </div>
            <div class="couple">
              <strong>Habilidades:</strong> <span>{{selectedNPC.skills}}</span>
            </div>
            <div class="couple">
              <strong>Conhecido por:</strong>
              <span>{{selectedNPC.known_for}}</span>
            </div>
            <div class="couple">
              <strong>Bordão:</strong> <span>{{selectedNPC.catchphrase}}</span>
            </div>
            <div class="couple">
              <strong>História:</strong> <span>{{selectedNPC.backstory}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="step-right">
      <h3>Histórico da Narrativa</h3>
      <div class="history-content">
        <div
          *ngFor="let entry of storyLog"
          [@fadeInUp]
          [innerHTML]="entry.html"
        ></div>
      </div>
      <div class="message-box">
        <textarea
          [(ngModel)]="userMessage"
          name="message"
          placeholder="Escreva sua mensagem..."
          rows="4"
        ></textarea>
        <div class="div-btns">
          <input
            type="text"
            placeholder="Seu nome (opcional)"
            [(ngModel)]="userName"
          />
          <button (click)="sendMessage()" [disabled]="sendingMessage">
            Enviar
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
